body{
background: rgb(3,12,46);
background-repeat: no-repeat;
background: linear-gradient(123deg, rgba(3,12,46,1) 0%, rgba(7,3,78,1) 38%, rgba(45,4,92,1) 47%, rgba(3,3,65,1) 58%, rgba(37,1,59,1) 99%, rgba(15,4,34,1) 100%);
}
.formDiv{
    display:flex;
    align-items:center ;
    justify-content:space-between;
    flex-direction: column;
}
.formHeading{
    margin:30px 100px 20px 0;
    text-align:left;
    color:rgba(150, 150, 150, 0.829);
    font-weight: 400;
    font-size: 24px;
    font-family: 'Gugi', cursive;
}
.formInput{
    margin:10px;
    padding:25px 40px;
    font-weight: 400;
    font-size: 20px;
    border : 1px hidden white;
    border-radius:10px;
    background-color: rgb(3,12,46);
    color:whitesmoke;
    font-family: 'Gugi', cursive;
}
button:hover {
    background-color: #75557470
}
button{
    background-color:rgb(3,12,46);
    color:white;
    font-weight: 400;
    font-size: 24px;
    border:1px solid rgba(165, 164, 164, 0.438);
    font-family: 'Gugi', cursive;
}
button:active {
  background-color: #755574;
  box-shadow: 0 2px rgb(196, 196, 196);
  transform: translateY(2px);
}